/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
}

address{
font-style: normal;
}


h1, 
h2, 
h3, 
h4,
h5, 
h6,
p {
margin: 0;
}

button {
    cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Container section*/

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


/* Header section*/

.logo {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4d5ae5; 
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
 color: #2e2f42;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;

  justify-content: space-between;

}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
    display: none;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link {
 position: relative ;
 font-weight: 500;
 font-size: 16px ;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #2e2f42;
 display: block;
 padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-link.current {
  position: relative ;
 }

.nav-link::after {
content: "" ;
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background-color:#404bbf ;
opacity: 0;
transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after
{
  opacity: 1;
}

.contacts {
 font-style: normal;
 
 }

.contacts-link {
    font-size: 12px;
    line-height: 1.5;

    display: block;
    padding: 24px 0;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
display: none;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current
 {
 color: #404bbf
   }

/* header section*/

.mobile-menu-button{
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        
    }

   .header-logo {
        padding: 24px 0;
        margin-right: 120px;
        height: 72px;
        display: flex;
        align-items: center;
    }

   .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        
        justify-content: center; 
        align-items: flex-end;
        height: 72px; 
    }

    .header-container {
      
        height: 72px; 
      
}

 
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px; 
        height: 100%;
        justify-content: center; 
        align-items: flex-end;
    }

    .contacts-link {
        padding: 0;  
        font-size: 14px;
        line-height: 1.17; 
        letter-spacing: 0.04 em;
        font-weight: 400;
    }
  }

@media screen and (min-width: 1158px) {
   .header-logo {
        margin-right: 76px;
        display: block;
    }

    .contacts-list {
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link {
        font-size: 16px;
        letter-spacing: 0.02em;
    }

}

/* mobile section*/

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px ){
    .mobile-menu{
    display: none;
}
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-links {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-nav-links:hover,
.mobile-menu-nav-links:focus {
    color: #404bbf;
}

.mobile-menu-contact {
    margin-bottom: 48px;
}

.mobile-menu-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.mobile-menu-contact-info {
    font-weight: 500; 
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
   
    color: #434455;
}

.mobile-menu-contact-info:hover,
.mobile-menu-contact-info:focus {
    color: #404bbf;
}

.list-socials-mobile {
    display: flex;
    gap: 40px;
}

.mobile-menu-icon-tell {
    width: 40px;
    height: 40px;
}

.mobile-menu-socials {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
    background-color: var(--main-color, #4d5ae5);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-socials:hover,
.mobile-menu-socials:focus{
    background-color: #404bbf;
}

.mobile-transition{
     fill: #f4f4fd;
}


.mobile-menu-close:hover,
.mobile-menu-close:focus {

    background-color: #E7E9FC;
   
}

/* Hero section*/

.hero {
 margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office1-mob.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
    .page-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office1-mob@2x.jpg);
    }
}

.hero-text{
     font-weight: 700;
    font-size: 36px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}


.hero-btn{
     background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
    background-color: #404bbf;

}

@media screen and (min-width: 768px) {
     .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office1-tab.jpg);
    }

    @media screen and (min-resolution: 192dpi) {
        .hero  {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office1-tab@2x.jpg);
        }
    }

    .hero-text {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
     .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office1-desk.jpg);
    }

    @media screen and (min-resolution: 192dpi) {
       .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office1-desk@2x.jpg);
        }
    }

    .hero-text {
        margin-bottom: 48px;

    }
}

/*

.features-section{
 padding: 120px 0;
}
.features-list{
    display: flex;
    gap: 24px;
}
.features-item{
    width: calc((100% - 72px) / 4);
}

.icon-close {
  fill: #f4f4fd;
}

.icon-box,
.features-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
}

.features-icon {
  width: 264px;
}

.icon-box {
  gap: 24px;
  border: 1px solid #8e8f99;
}



.features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
 margin-bottom: 8px;

}

.features-description {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.socials-item{
  width: 40px;
  height: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.team-section {
     background-color: #f4f4fd;
     padding: 120px 0;
}
.container-people {
  padding: 32px 0;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
 
 overflow: hidden;
 
}

.section-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
 margin-bottom: 72px;
  font-weight: 700;
}
.team-list{
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #fff;
  border-radius:  0px 0px 4px 4px;;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-photo{
     border-top: none;
      background-color: #fff;
     
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
 }
.socials-item {
  width: 40px;
  height: 40px;
}

.human-section {
  width: 100%;
  height: 100%;
  background-color: var(--main-color, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.human-section:hover,
.human-section:focus {
  background-color: #404bbf;
}

.human-clas {
  fill:  #f4f4fd;

}


.member-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.member-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.portfolio-section{
     padding-top: 120px;
     padding-bottom: 120px;

}


.portfolio-list{
    display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-title {
 font-size: 36px;
 line-height: 1.11;
 letter-spacing: 0.02em;
 text-align: center;
 text-transform: capitalize;
 color: #2e2f42;
  margin-bottom: 72px;
  font-weight: 700;
}



.portfolio-item {
 background: #fff;
 width: calc((100% - 48px) / 3);
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-item p {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-type {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
    }

.container-folder {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-iconf{
  position: relative;
  overflow: hidden;
  
}

.overlay-text{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);

}
.portfolio-item:hover  {

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}



.page-footer {
  background-color: #2e2f42;  
  padding: 100px 0;
}

.footer-logo  .logo-part {
 color: #f4f4fd;
}
.footer-slogan {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #f4f4fd;
 max-width: 264px;
}
.footer-logo{
    margin-bottom: 16px;
  display: inline-block;
}

.another-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color, #fff);
  margin-bottom: 16px;
}

.main-footer {
  display: flex;
  align-items: baseline;
}
:root {
  --white-color: #ffffff;
}


.footer-list {
  display: flex;
  gap: 16px;
}
.footer-icon {
  width: 40px;
  height: 40px;
}

.social-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.social-footer:hover,
.social-footer:focus {
  background-color: #31d0aa;
}
.footer-transition {
  fill: #F4F4FD;
}


.wrap-footer {
  margin-right: 120px;
}



.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (min-width: 768px) {
  .footer-subscribe-form {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-subscribe-form {
    align-items: flex-start;
    margin-left: auto;
  }
}
.subscribe-form-text {

  letter-spacing: 0.02em;
  line-height: 1.5; 

  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  color: #F4F4FD;
  background-color: transparent;
  outline: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-input:focus {
  border-color: #404bbf;
}


.footer-form-input:hover,
.footer-form-input:focus {
  border-color: #31D0AA; 
}

.subscribe-btn {
  font-family: "Roboto", sans-serif;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

cursor: pointer;
border: none;
margin: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31D0AA;
}
.btn-icon {
  fill: currentColor;
  margin-left: 16px;
}




.backdrop {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} 

.backdrop:not(.is-open) .formbox {
  transform: translate(-50%, -100%); 
}

.formbox {
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 16px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.formbox-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formbox-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.formbox-close-btn:hover,
.formbox-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.formbox-close-btn:hover .formbox-close-icon,
.formbox-close-btn:focus .formbox-close-icon {
  fill: #fff;
}

.formbox-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.formbox-form-group,
.formbox-form-comment {
  margin-bottom: 8px;
}

.formbox-form-comment {
  margin-bottom: 16px; 
}
.formbox-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.formbox-input-wrapper {
  position: relative;
}
.formbox-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 38px; 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formbox-input:focus {
  border-color: #4d5ae5;
}
.formbox-input-icon-person
 {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formbox-input-wrapper:focus-within .formbox-input-icon-person {
  fill: #4D5AE5;
} 

.formbox-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formbox-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.formbox-textarea:focus {
  border-color: #4d5ae5;
  color: #2e2f42;
}

.formbox-agreement {
  height: 16px;
  margin-bottom: 24px;
  
  align-items: flex-start;
}

.formbox-agreement-label {

  

  align-items: flex-start;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.formbox-checkbox-okey {

  display: inline-flex;
 
  fill: transparent;

  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;
  flex-shrink: 0;
  transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formbox-checkbox-okey-icon {
  width: 10px;
  height: 8px;


}


.formbox-checkbox-okey-icon,
.formbox-checkbox-okey-icon use {
  

  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



input[type="checkbox"]:checked + .formbox-agreement-label > .formbox-checkbox-okey {
  background-color: #404bbf;
  fill: #F4F4FD;
  border: none;
}

.formbox-link {

  color: var(--accent-color);
  text-decoration: underline;
  line-height: 1.3;
}

:root {
  --accent-color: #4d5ae5;
  --white-color: #ffffff;
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --bg-light: #f4f4fd;
  --input-border: rgba(46, 47, 66, 0.4);
  --check-color: #F4F4FD;
}

.formbox-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.formbox-submit-btn {
  background-color: var(--accent-color);
}

.formbox-submit-btn:hover,
.formbox-submit-btn:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .formbox {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .formbox-close-btn {
    top: 24px;
    right: 24px;
  }
}

